@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxanium:wght@200&display=swap');

body {
	font-family: 'Bebas Neue', sans-serif;
	background-color: rgb(41, 41, 41);
	color: white;
	font-size: 21px;
	display: flex;
	flex-direction: column;
		align-items: center;
	
	
}


div{
	display :flex;
	flex-direction: row;
	
}

h1 {
	font-size : 58px;
	text-align: center;
	color: rgb(193, 0, 0);
}

table {
	border-radius : 10rem;
	border-collapse: collapse;
	width: 90%;
	margin: 10px;
}

table td, table th {
	border: none;
	padding: 8px;
	
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: left;
	background-color: rgb(193, 0, 0);
	color: white;
}

.filmLien{
	color : white;
	text-decoration: none;
	
	border-radius: 4px;
	
	
}

a:hover{
	color: rgb(193, 0, 0);
	cursor: pointer;
	
	
}

.ajouter{
	border: solid;
	border-radius: 2rem;
	background-color: rgb(193, 0, 0);
	padding-left: 4px;
	padding-right: 4px;
	margin: 1rem;
	border-width: 2px;
}

.ajouter:hover{
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	color: white;
}


.ajouter-film{
	
	
	flex-direction: coolumn;
	
	justify-content: center;
	height: 550px;
	align-items: center;
}
form{
	width: 400px;
	border: solid;
	border-radius: 1rem;
	background-color: #383838;
}

.film{
	margin: 40px;
	justify-content: space-between;
	
}

select#genre.form-select.col-3, select#realisateur.form-select.col-3, button{
	border: none;
	color: rgb(193, 0, 0);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 17px;
	text-align: center;
}





.bouton{
  

  
  justify-content: center;
	margin: 40px;
}

button{
	 font-family: 'Bebas Neue', sans-serif;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  
  text-decoration: none;
  color: rgb(193, 0, 0);
  border: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

button span{

  z-index: 2;
}

button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(193, 0, 0);
  transition: all .35s;
}

button:hover{
  color: white;
  cursor: pointer;
}

button:hover:after{
  width: 100%;
}

.contour{
	
	display: flex;
	justify-content: center;
	flex-wrap : wrap;
	width : 1400px;
	
}

.caroussel{
	flex-direction: column;
	
	align-items: center;
	height: 600px;
	width: 200px;
	border :solid;
	margin : 20px;
	
	
}

img.imgFilm{
	width: 200px;
	height: 500px;
	
}


.contenerImg{
	display: flex;
		justify-content: center;
}
.imgDetail{
  width: 400px;
  margin-bottom: 20px;
}

#btnAjouter:hover{
	cursor: pointer;
	transform: scale(1.2);
	color : black;
	transition: all .35s;
	
}
.caroussel:hover{
	transform : scale(1.1);
	cursor: pointer;
	transition: all .35s;
}

.divAjouter{
	padding: 30px;
	
	}








