<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${film.nom}"></title>
<link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<body>

<h1>Avez vous aimé  [[${film.nom}]] ?</h1>


<a th:href="@{/films}">liste des films</a>

</body>
</html>